header {
  border-bottom: 2px solid #1C2833;
  padding: 10px;
  text-align: center;
}

body {
  display: block;
  color: #1C2833;
  font-family: Helvetica, sans-serif;
}

.what, .why, .how {
  padding: 10px;
}

footer {
  background-color: #1C2833;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}